html{
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: white;
  margin: 0;
}
#my{
  color: white;
}

#blog{
  font-family: 'Dancing Script', cursive;
  color: black;
}

header {
  background-color: rgb(61,152,158);
  text-align: center;
  height: 100px;
  /*padding-bottom: 75px;*/
  top: 0;
}

img {
  width: 100%;
}

#page-title {
  color: rgb(178,213,216);
  font-size: 65px;
  margin-top: 0px;
}

h1, h2, h3 {
  color: rgb(32,78,81);
  /*font-family: sans-serif;*/
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

.section-title {
  font-size: 45px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*text-align: center;*/
  list-style: none;
  padding: 0;
}

li{
  margin: 0 3%;
}

main{
  display: flex;
  flex-direction: row;
}

.article-titles {
  font-size: 38px;
}

p {
  margin: 0 15%;
  margin-bottom: 5%;
  text-align: justify;
  line-height: 1.25;
}

#footer-title {
  font-size: 35px;
  color: rgb(178,213,216);
  font-family: 'Dancing Script', cursive;
  color: black;
}

nav a {
  color: rgb(32,78,81);
}

footer {
  background-color: rgb(61,152,158);
  padding: 20px 0 45px 0;
}

footer a {
  color: rgb(178,213,216);
}

ol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*text-align: center;*/
  list-style: none;
  padding: 0;
}

footer ol li {
  color: rgb(178,213,216);
}
