body {
  background-color: DarkSeaGreen;
}

.square {
  height: 20px;
  width: 20px;
  background-color: ivory;
  display: inline-block;
  /*TEMPORARY BORDER*/
  /*border: 1px solid grey;*/
}

/*9. Create a style for class pink*/

.pink {
  background-color: pink;
}
