<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href='/css/app.css'>
    </head>
    <body>
        <h1>Pokemon index page</h1>
          <% for(var i = 0; i < pokemon.length; i++){ %>
                <div class="cards"><a href="/pokemon/<%=i%>"><img class="card" src=<%=pokemon[i].img; %>></a></div>
          <% } %>
          <br/>
          <form action="/pokemon/new">
            <input class = "button" type="submit" value="Create New Pokemon"/>
          </form>
    </body>
</html>
