<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <h1>See All The Pokemon!</h1>
    <ul>
      <% pokemon.forEach( function ( p , i ){ %>
        <li><a href="/pokemon/<%= i %>"><%= p.name %></a></li>

      <% }); %>

    </ul>
  </body>
</html>
