<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='/css/app.css'>

  </head>
  <body>
    <h1>New Pokemon Page</h1>
    <form action="/pokemon" method="POST">
      Name: <input class="input" type='text' name="name"/><br/>
      Color: <input class="input" type='text'name="price"/><br/>
      Damages: <input class="input" type='text'name="damages"/><br/>
      Image URL: <input class="input" type='text'name="img"/><br/>
      <input class="button" type="submit" value="Create Pokemon!"/>
    </form>
  </body>
</html>
