<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Products Index</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/product/new">Create a new Product</a>
					</li>
				</ul>
			</nav>
			<main>
	<h2>List of Products</h2>
	<ul>
		<% for(var i = 0; i < product.length; i++){ %>
			<li>
				<a href="/product/<%=product[i]._id%>"><%=product[i].name%></a>
			</li>
		<% } %>
	</ul>
</main>
		</header>
	</body>
</html>
