button{
  text-align: center;
  margin: 15px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  background: black;
  color: white;
}
button:hover{
  background:red;
}

div{
  text-align: center;
}
form{
  text-align: center;
}

#choices{
  display: none;
}
#status{
  text-align: center;
  border: 3px solid black;
  width: 50%;
  display: none;
}

#names{
  border: 3px solid black;
  text-align: center;
  display: none;
  /*width: 50%;*/
}
