<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcom To The Blog</h1>
    <nav>
      <ul>
        <li>
          <a href="/authors">Authors</a>
        </li>
        <li>
          <a href="/articles">Articles</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
