<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Shopping Directory</h1>
    <nav>
      <ul>
        <li>
          <a href="/store">Stores</a>
        </li>
        <li>
          <a href="/product">Products</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
