<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MyController as ctrl">
      <div ng-bind="ctrl.hello"></div>
      <section ng-class="(ctrl.isActive)?'active':''">
      </section>
      <ul>
        <li ng-repeat="item in ctrl.items">{{item}}</li>
      </ul>
      <div ng-if="ctrl.divExists">Remove</div>
      <div ng-hide="ctrl.hideDiv">Hide Me</div>
      <div ng-show="ctrl.showDiv">Show Me</div>
      <img src="{{ctrl.imgSrc}}"/></br>
      {{ctrl.someProperty}}</br>
      <form ng-submit="ctrl.handleSubmit()">
      <input ng-model="ctrl.someProperty"/>
      <input type="submit" value="Submit The Form">
    </form>
      <div ng-click="ctrl.someAction()">Click Me</div>

  </body>
</html>
