<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Steak page</h1>
        <form action="/steaks" method="POST">
            Name: <input type="text" name="cut" /><br/>
            Weight: <input type="text" name="weight" /><br/>
            <input type="submit" name="" value="Create Steak"/>
        </form>
    </body>
</html>
