<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Steaks show page</h1>
        The <%=steaks.cut; %> is  <%=steaks.weight; %>.

        <nav>
          <form method="GET" action="/steaks/<%=index%>/edit">
          <input type="submit" value="Edit"/>
        </form>
            <a href="/steaks">Back to steaks Index</a>
        </nav>
    </body>
</html>
